<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1> bus_detail</h1>
<table>
	<tr>
		<th>bus_id</th>
		<th>driver_id</th>
		<th>conductor_id</th>
		<th>bus_number</th>
		<th>bus_modal</th>
		<th>seating_capacity</th>
		<th>route</th> 
        <th>departure_time</th>
        <th>arrival_time</th>

    </tr>
    {% for row in rows %}
    <tr>
    	<td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
        <td>{{ row[5] }}</td>
        <td>{{ row[6] }}</td>
        <td>{{ row[7] }}</td>
        <td>{{ row[8] }}</td>
        <td>{{ row[9] }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>