<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Mission</title>
    <style>
        /* Your CSS styles for the mission page go here */
        body{
            background-color: bisque;
        }
    </style>
</head>
<body>
    <h1>Our Mission</h1>
    
    <p>At our bus company, our mission is clear and unwavering: to provide eco-friendly, efficient, and reliable bus transportation services that benefit both our customers and the environment.</p>

    
    <p>We are committed to reducing the carbon footprint associated with transportation. Our fleet of modern, fuel-efficient buses is designed to minimize emissions and promote sustainable travel options.</p>
    
    <p>We harness the power of biogas, a renewable and clean energy source, to fuel our buses. Biogas reduces greenhouse gas emissions and helps us contribute to a cleaner and healthier environment. It's part of our dedication to sustainable practices.</p>

    <img src="/static/image/plan_for_next.png" alt="Plan for Next"style="width: 100%; max-width: 700px; height:500px;">
   
    <p>We aim to make bus transportation a preferred choice for commuters and travelers alike. By offering affordable fares, convenient routes, and exceptional service, we want to make your journey with us comfortable and enjoyable.</p>
    
    <p>Our mission extends beyond providing transportation services. We actively engage with local communities, support environmental initiatives, and contribute to a cleaner and greener future.</p>
    
    <p>We believe that every journey counts, not just for our passengers but for the planet as well. Our commitment to sustainability and responsible business practices drives us to continuously improve and innovate.</p>

    <p>Conserving resources is at the core of our mission. We strive to minimize waste and optimize resource use throughout our operations, from bus maintenance to ticketing systems. By doing so, we aim to lead by example in resource conservation.</p>
    
    <p>If you share our mission and want to be a part of our journey toward a more sustainable future, consider joining our team. Together, we can make a positive impact on the way people travel and the world we live in.</p>
    
    <p>For more information or to discuss how you can support our mission, please don't hesitate to <a href="{{url_for('contact')}}">contact us</a>. We look forward to working together for a brighter future.</p>
</body>
</html>
